 @media print {
 body {
 	/*font-family: Georgia, serif; */
	font-family: Georgia, serif, Arial, "Trebuchet MS", Helvetica, Geneva, Verdana, Tahoma, sans-serif;
	background: none;
	color: black;
	text-shadow: none;
}

#erms_menu
{
   visibility: hidden;
   display: none;
}

#page {
	width: 100%;
	margin: 0; padding: 0;
	background: none;
}
#header, #menu-bar, #sidebar, h2#postcomment, form#commentform, #footer, #last30_summary_header {
	display: none;
}

#ship_info
{
  font-size: 1.35em;	
  margin-bottom: 15px;
}

.module_info
{
  position: relative !important;
}

#pgBreak
{
   display:none;
}	 

#graph_range_sel_header
{ 
  visibility: hidden;
  display: none;
}

#f, #monthly_report_image, #radio
{ 
  visibility: hidden;
  display: none;
}

#printed-article {
	border: 1px solid #666;
	padding: 10px;
}

.foot_mid
{
 font: black;
}	

.printRptBtn, .foot_right {
  visibility: hidden;
  display: none;
}

a { text-decoration: underline; }
a[href]:after { content: " (" attr(href) ")"; }
abbr[title]:after { content: " (" attr(title) ")"; }
.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
thead { display: table-header-group; } /* h5bp.com/t */
tr, img { page-break-inside: avoid; }
img { max-width: 100% !important; }
p, h2, h3 { orphans: 3; widows: 3; }
h2, h3 { page-break-after: avoid; }
}

